// Container
%container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    @include resp('xl'){
        max-width: 1240px;
    }
}

// Image
%image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// Block Title
%title-block{
    text-align: center;
    font-size: fz(28);
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: $fw-sbold;
    color: $color-grey-dark;
    @include resp('md'){
        font-size: fz(32);
        padding-bottom: 28px;
    }
    @include resp('xl'){
        font-size: fz(36);
        padding-bottom: 35px;
    }
}